# Packer
.packer/
*.pkrvars.hcl
!*.pkrvars.example.hcl

# Packer logs
packer.log
packer-debug.log

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp.ssh/

.env
.env.*
!.env.example

# Terraform
terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
